<code class="lines">
  <span id="typed"></span>
  <span class="json_wrap">
    {<br>
    &nbsp;&nbsp;"OCR": { <br>
    &nbsp;&nbsp;&nbsp;&nbsp;"serial": "<span class="string">AN2200333</span>,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"firstname": "<span class="string">Александра</span>",<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"surname": "<span class="string">Александрова</span>",<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"secondname": "<span class="string">Александровна</span>",<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"pob": "<span class="string">Кыргызстан</span>",<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"birthday": "<span class="string">17.08.1994</span>",<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"gender": "<span class="string">Ж</span>"<br>
    &nbsp;&nbsp;}, <br>
    &nbsp;&nbsp;"Match": { <br>
    &nbsp;&nbsp;&nbsp;&nbsp;"code": "<span class="string">200</span>",<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"message": "<span class="string">Match</span>",<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"int": "<span class="string">1</span>",<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"float": "<span class="string">68.514</span>"<br>
    &nbsp;&nbsp;} <br>
    }<br>
  </span>
</code>
